:root {
  --colorPrincipal: #2e2e2e;
  --colorSecundario: #d9d9d9c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Times New Roman", Times, serif;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

/*
  Estilos para Login y Recovery
*/

.login, .recovery {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login .login-form, .recovery .recovery-form {
  width: 500px;
  padding: 2rem 4rem;
  backdrop-filter: blur(5px);
  background-color: var(--colorSecundario);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login .login-form-title, .recovery .recovery-form-title {
  font-size: 2rem;
  text-align: center;
  color: var(--colorPrincipal);
}

.login .login-form-group, .recovery .recovery-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.login .login-form-group label, .recovery .recovery-form-group label {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: var(--colorPrincipal);
}

.login .login-form-group input, .recovery .recovery-form-group input {
  padding: 0 1rem;
  border-radius: 50px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 1rem;
  color: var(--colorPrincipal);
}

.login .login-form-group-buttons, .recovery .recovery-form-group-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login .login-form-group-buttons button, .recovery .recovery-form-group-buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: var(--colorPrincipal);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: black;
  }

  &:active {
    transform: scale(0.9);
  }
}

.login .login-form-group-buttons a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--colorPrincipal);

  &:hover {
    text-decoration: underline;
    color: black;
  }
}

/*
  Estilos para Aside
*/

.aside {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem 3rem;
  background-color: #2e2e2e;
}

.aside-logo {
  width: 150px;
  margin-bottom: 2rem;
}

.aside-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.aside-Menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.aside-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.aside-enlance {
  text-decoration: none;
  color: var(--colorSecundario);
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.aside-enlace-Active{
  color: white;
  text-decoration: underline;
}

.aside-List-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorSecundario);
  border-radius: 50px;
  padding: 0.5rem;
}

.aside-icono {
  width: 20px;
  cursor: pointer;
}

.aside-enlance:hover .aside-icono {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/*
  Estilos para pages
*/
.content-seection-principal{
  position: relative;
}
.content{
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  right:0;
  width: 86%;
  height: 100%;
  z-index: -1;
}

.home-section, .cotizar-section, .listados-section, .ajustes-section, .perfil-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem;
}
