:root {
  --colorPrincipal: #2e2e2e;
  --colorSecundario: #d9d9d9c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Times New Roman", Times, serif;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  overflow: hidden;
}

/*
  Estilos para Login y Recovery
*/

.login,
.recovery {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login .login-form,
.recovery .recovery-form {
  width: 500px;
  padding: 2rem 4rem;
  backdrop-filter: blur(5px);
  background-color: var(--colorSecundario);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login .login-form-title,
.recovery .recovery-form-title {
  font-size: 2rem;
  text-align: center;
  color: var(--colorPrincipal);
}

.login .login-form-group,
.recovery .recovery-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.login .login-form-group label,
.recovery .recovery-form-group label {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: var(--colorPrincipal);
}

.login .login-form-group input,
.recovery .recovery-form-group input {
  padding: 0 1rem;
  border-radius: 50px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 1rem;
  color: var(--colorPrincipal);
}

.login .login-form-group-buttons,
.recovery .recovery-form-group-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login .login-form-group-buttons button,
.recovery .recovery-form-group-buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: white;
  background-color: var(--colorPrincipal);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: black;
  }

  &:active {
    transform: scale(0.9);
  }
}

.login .login-form-group-buttons a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--colorPrincipal);

  &:hover {
    text-decoration: underline;
    color: black;
  }
}

/*
  Estilos para Aside
*/

.aside {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem 3rem;
  background-color: #2e2e2e;
}

.aside-logo {
  width: 150px;
  margin-bottom: 2rem;
}

.aside-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.aside-Menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.aside-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.aside-enlance {
  text-decoration: none;
  color: var(--colorSecundario);
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.aside-enlace-Active {
  color: white;
  text-decoration: underline;
}

.aside-List-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorSecundario);
  border-radius: 50px;
  padding: 0.5rem;
}

.aside-icono {
  width: 20px;
  cursor: pointer;
}

.aside-enlance:hover .aside-icono {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/*
  Estilos para pages
*/
.content-section-principal {
  position: relative;
}
.content {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-section,
.cotizar-section,
.listados-section,
.ajustes-section,
.perfil-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1.5rem;
  overflow-y: auto;
}

.home-section {
  gap: 10rem;
}

/*
  Estilos para page Home
*/

.home-resumen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem 5rem 2rem 2rem;
  gap: 2rem;
  background: var(--colorSecundario);
  border-radius: 50px;
  margin-left: 1rem;

  & h2 {
    color: var(--colorPrincipal);
  }

  & .home-resumen-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding-left: 0.5rem;

    & li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      color: var(--colorPrincipal);

      & p {
        color: var(--colorPrincipal);
        font-weight: 600;
        font-size: 20px;
      }

      & span {
        color: var(--colorPrincipal);
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

/*
  Estilos para page Cotizar
*/
.cotizar-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.cotizar-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  background: var(--colorSecundario);
  border-radius: 50px;

  & input,
  textarea {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;

    & ::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .input-monto {
    width: 100px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  & input:disabled {
    background-color: #bebebe;
    font-weight: bold;
  }

  & label {
    font-size: 1.2rem;
    padding: 0 0.5rem;
    font-weight: bold;
  }
}

.cotizar-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  & .cotizar-header-fecha {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;

    & input {
      text-align: center;
    }
  }
}

.cotizar-header-solicitante {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
  }

  & .nro {
    width: 100px;
    text-align: center;
  }

  & .dpto {
    width: 150px;
    text-align: center;
  }
}

.cotizar-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;

  & .cotizar-main-contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 2rem;
    justify-content: start;
    align-items: start;
    overflow: hidden;
  }

  & .aprobacion {
    grid-template-columns: 1fr;
  }

  & .cotizar-main-contenedor-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
  }

  & .cotizar-main-contenedor-right {
    width: 100%;
    max-height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 0.5rem;
    overflow-y: auto;

    & table {
      width: 100%;
      border-collapse: collapse;
      color: white;

      & th {
        border: 1px solid var(--colorPrincipal);
        background-color: var(--colorPrincipal);
        padding: 0.5rem;
        text-align: center;
        color: white;
      }

      & td {
        border: 1px solid var(--colorPrincipal);
        background-color: var(--colorSecundario);
        padding: 0.5rem;
        text-align: center;
        color: black;

        & button {
          background-color: var(--colorPrincipal);
          border: 1px solid #bebebe;
          padding: 0.5rem;
          text-align: center;
          color: rgb(255, 255, 255);
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: var(--colorSecundario);
            color: black;
          }
        }
      }
    }
  }
}

.contenedor-datos-cliente {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
  }

  & .input-ano {
    width: 100px;
  }
}

.contenedor-datos-repuestos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 2rem;
  padding-right: 0.8rem;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
  }

  & .input-cantidad {
    width: 100px;
  }

  & .button-agregar-repuesto {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: white;
    background-color: var(--colorPrincipal);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      filter: brightness(1.3);

      & i {
        transform: rotate(360deg);
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.contenedor-notas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;

  & .notas {
    resize: none;
    height: 100px;
  }
}

.form-container-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  & button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: white;
    background-color: var(--colorPrincipal);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      filter: brightness(1.3);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  & .button-cotizar {
    background: rgb(20, 154, 216);
  }

  & .button-limpiar {
    background: rgb(209, 48, 48);
  }
}

/*
  Estilos para pagina listados
*/

.listados-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  padding: 2rem;
}

.listados-buscador {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 1px solid #2e2e2e;
  padding: 0.5rem;
  border-radius: 10px;

  & input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  & button {
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #2e2e2e;
    background: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.listados-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  & .listados-button-exportar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding: 0.5rem 1rem;

    & button {
      padding: 0.5rem 1rem;
      border-radius: 10px;
      font-size: 1.2rem;
      border: none;
      outline: none;
      color: white;
      background-color: var(--colorPrincipal);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        filter: brightness(1.3);
      }

      &:active {
        transform: scale(0.9);
      }

      & i {
        margin-right: 0.5rem;
      }
    }
  }

  & table {
    width: 100%;
    border-collapse: collapse;
    background: var(--colorSecundario);
    color: white;

    & th {
      background-color: var(--colorPrincipal);
      border: 1px solid #bebebe;
      padding: 0.5rem;
      text-align: center;
      color: white;
    }

    & td {
      border: 1px solid #bebebe;
      padding: 0.5rem;
      text-align: center;
      color: black;

      .button-table-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & button {
          background-color: var(--colorPrincipal);
          border: 1px solid #bebebe;
          padding: 0.5rem;
          text-align: center;
          color: rgb(255, 255, 255);
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: var(--colorSecundario);
            color: black;
          }
        }
      }
    }
  }
}
