<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine on
RewriteBase /CCRS/Public/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?views=$1
</IfModule>